[2020-08-20 14:47] nto4 opened #1 "pgpool2 is exist?"
I cant see pgpool2 is exist ny repo ?
or are you thinking adding pgpool2 role in this repo ?

[2020-08-24 15:31] vibhorkumar123 commented on #1
No. We haven't planned the pgpool2 role yet. However, we will add this in the future.

[2020-09-18 12:07] vibhorkumar123 opened #2 "EDB Product deployment on Ubuntu"
We would like to have EDB Product deployment using ansble on Ubuntu Operating system

[2020-09-18 12:08] vibhorkumar123 opened #3 "EDB Product deployment on Debian"
We would like to deploy EDB products with the proper configuration on Debian. Please make ansible roles to work on Debian

[2020-09-18 12:09] vibhorkumar123 opened #4 "Deployment of EDB Product on RedHat 8 and CentOS 8."
Please enable the deployment of EDB Product on RedHat 8 and CentOS 8.

[2020-09-18 12:10] vibhorkumar123 opened #5 "Support PostgreSQL 13"
We would like to have ansible to deploy PostgreSQL 13 and EPAS 13 on the operating system

[2020-09-18 12:15] vibhorkumar123 opened #6 "Move with_dict servers in the roles to manage and iteration of roles' tasks"
Currently, users need to add with_dict as given below in the playbook to use the roles.
[code]
It will be simpler if we can skip using with_dict in the playbook. Something like given below:
[code]

[2020-10-11 14:41] vibhorkumar123 commented on #6
Assiging to @dougortiz for testing.

[2020-10-11 14:41] vibhorkumar123 commented on #5
Assigning to @dougortiz for testing

[2020-10-11 14:42] vibhorkumar123 commented on #4
Assigning to @dougortiz for testing

[2020-10-12 17:54] vibhorkumar123 opened #7 "Create a new branch for EDB-POT for proof of technology."
Create a new branch for EDB POT which could use the domain name for PEM URL and SEs can use for proof of technology.

[2020-10-13 00:00] dougortiz commented on #4
Receiving error:

![image](https://user-images.githubusercontent.com/63114888/95800495-7ff84600-0cc5-11eb-8f17-09e9788d9257.png)

[2020-10-13 00:09] dougortiz commented on #5
@vibhorkumar123  - PostgreSQL v12.4

![image](https://user-images.githubusercontent.com/63114888/95800975-da45d680-0cc6-11eb-8251-e4737744fa4e.png)

[2020-10-13 00:12] dougortiz commented on #6
Testing on AWS - Branch name: "REL-1_0_1-456"

[2020-10-13 00:13] dougortiz commented on #5
@vibhorkumar123 - Testing on AWS - Branch name: "REL-1_0_1-456"

[2020-10-13 00:13] dougortiz commented on #4
@vibhorkumar123 - Testing on AWS - Branch name: "REL-1_0_1-456"

[2020-10-13 11:52] vibhorkumar123 commented on #5
@dougortiz, Not sure I understand the problem here. It is expected output.

[2020-10-13 23:36] vibhorkumar123 commented on #4
This is fixed in your branch and REL-1_0_1. @dougortiz, you can try now.

[2020-10-14 19:30] dougortiz opened #10 "Update README.md"

[2020-10-15 12:54] vibhorkumar123 opened #11 "Allow user to choose EFM cluster name, instead of default cluster name "efm""
Add the ability in setup_efm and setup_pem to use the user's provided cluster name for the EFM cluster.
Currently, roles configure and install the cluster name based on the default cluster name: "efm."

[2020-10-15 13:06] dougortiz commented on #6
Tested on AWS:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS8, CentOS7, RHEL8
EPAS 13
RHEL7 no longer available

[2020-10-15 13:06] dougortiz commented on #5
Tested on AWS:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS8, CentOS7, RHEL8
EPAS 13
RHEL7 no longer available

[2020-10-15 13:06] dougortiz commented on #4
Tested on AWS:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS8, CentOS7, RHEL8
EPAS 13
RHEL7 no longer available

[2020-10-15 14:29] vibhorkumar123 opened #12 "Remove the support of PG/EPAS 10 from the ansible and maintain the two supported version."
Remove the support of PG/EPAS 10 from the ansible and maintain only two supported versions.

[2020-10-15 14:57] vibhorkumar123 opened #13 "Add the support for pgbouncer in edb-ansible"
Add the roles/support for pgbouncer in edb-ansible

[2020-10-15 21:47] dougortiz commented on #6
Tested on Azure:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS7, CentOS8, RHEL7, RHEL8
Single Installation: CentOS7, CentOS8, RHEL7, RHEL8
EPAS 13

[2020-10-15 21:48] dougortiz commented on #5
Tested on Azure:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS7, CentOS8, RHEL7, RHEL8
Single Installation: CentOS7, CentOS8, RHEL7, RHEL8
EPAS 13

[2020-10-15 21:50] dougortiz commented on #4
Testing on Azure:
Experienced error enclosed on: Centos 8_1 and RHEL7.8
![image](https://user-images.githubusercontent.com/63114888/96189685-f471f580-0f0e-11eb-8849-91a876374eb5.png)

[2020-10-15 21:52] dougortiz commented on #4
Testing on Azure:
Experienced error enclosed on: CentOS8_1 and RHEL8.2
![image](https://user-images.githubusercontent.com/63114888/96189778-22573a00-0f0f-11eb-9be4-ee3aaa8d1415.png)

[2020-10-15 23:23] dougortiz opened #14 "Verify EPAS 11 on: AWS, Azure and Google Cloud for: CentOS7, CentOS8, RHEL7 and RHEL8"

[2020-10-19 23:08] dougortiz commented on #4
Tested on Google Cloud:
Tested on Azure:
PEM Server: 1, Primary: 1, Standby's: 2 - CentOS7, CentOS8, RHEL7, RHEL8
Single Installation
EPAS 12

[2020-10-20 01:40] dougortiz commented on #14
EPAS 11 and 12 Failed on Cluster RHEL8
![image](https://user-images.githubusercontent.com/63114888/96529616-a2eda180-1253-11eb-948a-5a6212fe9784.png)

[2020-10-20 01:41] dougortiz commented on #14
Azure EPAS 11 Single Install Failure
![image](https://user-images.githubusercontent.com/63114888/96529680-d5979a00-1253-11eb-9a4d-45ef250a5460.png)

[2020-10-20 01:59] dougortiz commented on #14
Azure - CentOS 7.7 EPAS 11 and 12 Single Install Fails:
![image](https://user-images.githubusercontent.com/63114888/96530779-24463380-1256-11eb-8207-2c58eee2bc43.png)

[2020-10-20 02:36] dougortiz commented on #14
AWS - CentOS 7 EPAS 11 Single Install - Successful Installation

[2020-10-20 02:37] dougortiz commented on #14
AWS - CentOS 8 EPAS 11 Cluster: 1 PEM Server and 1 Primary and 2 Standby Servers Install - Failed Installation:
![image](https://user-images.githubusercontent.com/63114888/96533294-a08f4580-125b-11eb-9017-823dd3184a8c.png)

[2020-10-20 13:30] vibhorkumar123 commented on #14
This is expected. EPAS 11 is not supported on CentOS8/RHEL8. README has information on the supported platform.
Do you think we should put a check in the roles?

[2020-10-20 14:32] dougortiz commented on #14
AWS - CentOS8 and RHEL8 - EPAS 12 - Successful
Single Install and Cluster: 1 PEM Server, 1 Primary and 2 Standbys

[2020-10-20 22:00] dougortiz commented on #14
Azure- CentOS8 - EPAS 12 - Successful
Azure - RHEL8 - EPAS 12 - Requires RedHat subscription - Successful
Single Install and Cluster: 1 PEM Server, 1 Primary and 2 Standbys

[2020-10-21 16:07] dougortiz commented on #14
Google Cloud - CentOS8 - EPAS 12 - Successful
Google Cloud - RHEL8 - EPAS 12 - Requires RedHat subscription - Successful
Single Install and Cluster: 1 PEM Server, 1 Primary and 2 Standbys

[2020-10-21 16:26] vibhorkumar123 commented on #14
This issue is tested and completed

[2020-10-21 16:26] #14 closed

[2020-10-21 16:26] vibhorkumar123 commented on #10
Fixed and Updated README for REL-1_0_1

[2020-10-21 16:27] #10 closed

[2020-10-21 16:27] vibhorkumar123 commented on #6
Fixed and made it part of REL-1_0_1

[2020-10-21 16:27] #6 closed

[2020-10-21 16:28] vibhorkumar123 commented on #5
Fixed and tested. Available in REL-1_0_1

[2020-10-21 16:28] #5 closed

[2020-10-21 16:28] vibhorkumar123 commented on #4
Fixed and tested! The fix is available in REL-1_0_1

[2020-10-21 16:28] #4 closed

[2020-10-21 16:29] vibhorkumar123 opened #16 "Add new role for managing cluster"
manage_dbserver role for managing the Postgres instances in the cluster.

[2020-10-21 16:30] vibhorkumar123 commented on #16
Add a new role manage_dbserver with all the required capabilities. I have also ensured we are referencing this role in other roles.

[2020-10-21 16:30] #16 closed

[2020-11-02 18:26] vibhorkumar123 commented on #7
We don't need this. This is already part of the EDB deployment GitHub branch.
https://github.com/EnterpriseDB/postgres-deployment/tree/REL-edb-pot/playbook

[2020-11-02 18:26] #7 closed

[2020-11-03 15:13] julmon opened #17 "setup_repo role failing on CentOS8"
Hi,

It seems `setup_repo` role fails on CentOS8:

[code]

Ansible version is 2.9.13 (macos).

This issue looks related to this Ansible version: https://github.com/geerlingguy/ansible-role-repo-remi/pull/20

To get it working, we should download GPG key in a dedicated task before installing repo RPM, some examples here: https://github.com/ansible/ansible/issues/71634

This issue affects epel, PGDG

[2020-11-03 17:22] vibhorkumar123 commented on #17
Fix is merged. Thank you, @julmon!

Closing this issue.

[2020-11-03 17:22] #17 closed

[2020-11-04 13:00] julmon opened #21 "gather_facts vs set_facts ?"
Hi,

I'm probably missing the point, but why does the OS version needs to be set explicitly via set_facts while it could be discovered automatically through gather_facts ?

Regards,

[2020-11-05 13:17] vibhorkumar123 opened #24 "Add a role for auto-tuning the Postgres instances"
With deployment, user would like to have auto-tuning of Postgres.

[2020-11-05 13:18] vibhorkumar123 commented on #21
This is intentional. In our edb-ansible, we use delegate_to for delegating the tasks to the server. delegate_to doesn't gather_facts of the target host.

[2020-11-05 13:18] #21 closed

[2020-11-05 13:20] vibhorkumar123 commented on #13
Assigning to @julmon

[2020-11-05 13:21] vibhorkumar123 commented on #24
Assigning to Julian

[2020-11-09 20:41] vibhorkumar123 opened #26 "Create developers' contribution guidelines for the repository"
Create developers' contribution guidelines for the repository.

[2020-11-12 13:22] vibhorkumar123 opened #28 "Resolve the inconsistencies in the README of the roles."
Resolve the inconsistencies in the README of the roles.

[2020-11-12 15:32] vibhorkumar123 opened #29 "Change the verification and end_task to use fail module of ansible"
Change the verification and end_task to use the fail module of ansible.

[2020-11-13 20:13] vibhorkumar123 commented on #29
Hi @jt-edb, Can you please confirm if there is any other PR for this issue? If not, we can mark this issue as "complete."

[2020-11-13 20:13] vibhorkumar123 commented on #26
Hi, @jt-edb, Let me know if we can mark this as "complete."

[2020-11-14 09:30] jt-edb commented on #29
Hi @vibhorkumar123, no more work needed here.

[2020-11-14 09:31] jt-edb commented on #26
@vibhorkumar123 it's done.

[2020-11-16 13:30] vibhorkumar123 opened #35 "Add a role to support pgBackRest"
Add a role for pgBackRest in EDB Collections

[2020-11-16 13:30] vibhorkumar123 opened #36 "Add capabilities for Barman"
Add a role for Barman in edb collections

[2020-11-17 15:41] vibhorkumar123 opened #41 "REL_2_0_2 Branch ansible linting issues"
Hi @jt-edb ,

I have found some linting issues with some roles. Following are the details.
[code]

Can you please have a look and fix those?
Following is a link to ansible linting rules:
https://ansible-lint.readthedocs.io/en/latest/default_rules.html

[2020-11-17 16:37] vibhorkumar123 commented on #41
@jt-edb We can skip the above lint issues by creating  `.ansible-lint` and adding the following line.
[code]

The above was done intentionally. In ansible roles, handles get executed at the end of the execution of the roles.
If you can find a better way, please feel free to propose the changes.

Thank you!

[2020-11-17 16:53] jt-edb commented on #41
Alright, let's skip them for now.

[2020-11-17 17:02] vibhorkumar123 commented on #41
Sounds good!

[2020-11-17 20:17] vibhorkumar123 opened #43 "Add support for EDB Advanced Server 13 in the edb-ansible"
Add support for EDB Advanced Server 13 in the edb-ansible

[2020-11-19 16:50] vibhorkumar123 opened #45 "Test cases for edb-ansible for role setup_repo"
Build a test edb-ansible.

[2020-11-20 13:55] vibhorkumar123 commented on #13
Hi, @jt-edb Is this complement. Let me know if we can mark it as complete.

[2020-11-20 15:51] #43 closed

[2020-11-20 15:51] #41 closed

[2020-11-20 15:51] #29 closed

[2020-11-20 15:51] #28 closed

[2020-11-20 15:51] #26 closed

[2020-11-20 15:52] #13 closed

[2020-11-20 15:52] #11 closed

[2020-11-20 15:58] vibhorkumar123 opened #51 "Support for cascaded Replica"
Add support for cascaded replica in edb-ansible

[2020-11-20 15:59] vibhorkumar123 opened #52 "Support for logical replication in edb-ansible"
We need support for Logical replication in edb-ansible

[2020-11-20 16:00] vibhorkumar123 opened #53 "Patch update module in edb-ansible"
We need a patch update role in edb-ansible.

[2020-11-20 16:02] vibhorkumar123 opened #54 "Create post cluster sanity check for edb-ansible"
Create a post cluster sanity check for the cluster

[2020-11-20 16:04] vibhorkumar123 opened #55 "Major version upgrade role in edb-ansible"
We need a role in edb-ansible collections for Major version upgrade

[2020-11-20 16:14] vibhorkumar123 opened #56 "Share different reference architecture playbooks example in edb-ansible"
Share different reference architecture playbooks example in edb-ansible

[2020-11-23 15:31] vibhorkumar123 opened #61 "On CentOS8 `dnf -qy module disable postgresql` command fails if module doesn't exist"
Please fix the following error message, which comes if the postgresql module doesn't exist on CentOS8. Following is the error message:
[code]

[2020-11-23 17:21] #61 closed

[2020-11-23 20:58] vibhorkumar123 opened #62 "Fix the following lint issues in the REL 2.0.2"
[DEPRECATION WARNING]: The firewalld module has been moved to the ansible.posix collection. This feature will be removed from community.general in version 2.0.0. Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.
WARNING  Listing 6 violation(s) that are fatal
[207] Nested jinja pattern
roles/manage_dbserver/tasks/generate_password.yml:17
Task/Handler: Genera

[2020-11-24 19:02] #62 closed

[2020-11-30 13:11] vibhorkumar123 opened #65 "Repmgr support in edb-ansible"
Add the support for repmgr in edb-ansible

[2020-12-02 16:15] dougortiz opened #66 "Fix Azure - RHEL 8 issue when configuring a Cluster"
Configuration of RHEL 8 deployment fails because there is a need for a RHEL account to be registered.

[2020-12-03 15:31] vibhorkumar123 commented on #51
@jt-edb working on a plugin for dict sorting based on the upstream node.

[2020-12-03 15:33] vibhorkumar123 opened #68 "Ansible plugin for sorting dict keys"
We need an ansible plugin for sorting dictionary keys.

[2020-12-14 16:23] vibhorkumar123 opened #75 "Make ansible to use inventory file for performance"
Make ansible roles to use inventory instead of hosts.yml as var file for better performance.

[2020-12-14 16:24] #68 closed

[2020-12-14 16:28] #51 closed

[2020-12-21 16:56] vibhorkumar123 commented on #45
Postponing this for the future.

[2020-12-21 17:02] vibhorkumar123 opened #90 "Automate testing on liniting in the GitHub."
Automate testing on liniting in the GitHub.

[2020-12-21 17:03] vibhorkumar123 opened #91 "Create Makefile for publishing the ansible code in Galaxy"
Create Makefile for publishing the ansible code in Galaxy

[2020-12-31 18:05] #91 closed

[2020-12-31 18:05] #90 closed

[2020-12-31 18:05] #75 closed

[2020-12-31 18:05] #36 closed

[2020-12-31 18:05] #24 closed

[2020-12-31 18:05] #1 closed

[2020-12-31 18:09] #12 closed

[2021-01-20 15:59] vibhorkumar123 opened #123 "Schedule the backup of the server using barman"
Allow users to schedule a backup using barman for Primary and standby

[2021-01-21 14:22] michalgric opened #125 "Set custom efm_parameters before first start of EFM"
I would like to execute task efm_cluster_set_params.yml within efm_configure.yml before EFM first startup in setuo_efm role.

With current version of setup_efm role, custom efm parameters for efm.properties are set after fist startup of EFM. This causes crash during the first start of EFM because in our environment it can't reach 8.8.8.8 ( ping.server.ip ) address.

As a solution suggest this chan

[2021-01-21 23:11] vibhorkumar123 commented on #125
Hi @michalgric, Welcome to the edb-ansible!

Thank you for your suggestion. I understand your use case and will fix this soon.

[2021-01-22 08:52] michalgric commented on #125
Hi @vibhorkumar123  thank you for you quick response. I really appreciate  it.

[2021-01-22 14:03] vibhorkumar123 commented on #125
Fix has been merged in master

[2021-01-22 14:03] #125 closed

[2021-02-09 14:59] dirkcaumueller opened #151 "Handle SELinux in roles (barman)?"
Dear EDB team!

I stumbled across an error regarding SELinux in status enforcing when deploying a setup of a primary + 2 standbys + 1 barman server on CentOS7. The postgres primary tried to execute the archive-command for Barman WAL archiving and failed with the following message in the Postgres logs:

[code]

After some research I found out, that my custom location for `barman_home` ("/pgbackup/b

[2021-02-10 15:08] jt-edb commented on #151
Hi @dirkcaumueller

Thank you for this detailed issue!

I tend to prefer your 2nd proposal which seems more appropriated in this case: changing home folder of a specific user.

@vibhorkum what do you think?

[2021-02-10 16:33] vibhorkumar123 commented on #151
I agree with you @jt-edb

[2021-02-16 11:54] mslivonja opened #152 "EPAS install - override default variables"
How to override default variables for EPAS installation.

I wan't to override default variables for init_dbserver role e.g.

[code]

Expected behavior is: passwords are changed accordingly
Actual: default password defined in EPAS.yml is used instead.

Variables cannot be overridden in main play because for EPAS installation because include_vars EPAS.yml  is always executed and variables are reset

[2021-02-17 22:44] vibhorkumar123 commented on #152
You can use set_fact before calling the role.
something like given below:
[code]

[2021-02-17 22:46] vibhorkumar123 commented on #151
@dirkcaumueller Do you think you can submit a PR for the proposal?

[2021-02-18 07:05] dirkcaumueller commented on #151
Hallo @vibhorkumar123, I will do in the next days.

[2021-02-18 11:42] vibhorkumar123 commented on #151
Thank you @dirkcaumueller !

[2021-02-23 11:15] #152 closed

[2021-02-23 14:44] dirkcaumueller commented on #151
Thank you for merging.

[2021-02-23 14:44] #151 closed

[2021-02-26 14:35] vibhorkumar123 opened #156 "force_initdb and FQCN changes in edb-ansible collections"
We need to make sure with the force_initdb command, we are re-creating the environment. force_initdb makes primary to recreate the data directory. Therefore the whole cluster needs to be rebuild.
We should also work on using FQCN based module call based on the community's recommendation.

[2021-04-27 14:42] dougortiz opened #176 "pgpool2 issue"
Issue when deploying in AWS EDB-RA-2, terraform 0.14.17 and ansible 2.10.6:

`fatal: [primary1]: FAILED! => {"msg": "An unhandled exception occurred while running the lookup plugin 'edb_devops.edb_postgres.pgpool2_nodes'. Error was a <class 'KeyError'>, original message: 'pgpool2'"}`

[2021-04-29 10:34] jt-edb commented on #176
Hello,

Thank you. This is now fixed in `master` and `v3_3`. A new maintenance release -- 3.3.1 -- has been published on GitHub and Ansible Galaxy.

Closing this issue.

[2021-04-29 10:34] #176 closed

[2021-04-29 19:06] dougortiz opened #180 "The conditional check pgpool2_ssl"

[2021-05-11 18:42] #180 closed, assigned to jt-edb

[2021-07-15 10:00] CC-Hsu opened #191 "Add `edb_audit` log directory customization support in edb-ansible"
Hi, Team,

Usually when we help our customer deploying EPAS, we help them enable EDB Audit Log feature in advance.

And we usually separate `edb_audit/` directory from `$PGDATA` to avoid unnecessary disk occupation (we also separate `log/` from `$PGDATA` too).

Below is a heredoc snippet we usually use.
[code]

I recently try `edb-ansible` and want to improve our deployment process,
and I find tha

[2021-07-15 10:23] CC-Hsu opened #192 "Add `$HOME/.enterprisedb_profile` for enterprisedb or `$HOME/.pgsql_profile` for postgres OS accounts with edb-ansible"
Hi, Support Team,

In current RPM-based PGSQL/EPAS installation, a `$HOME/.bash_profile` is provided, and inside the file it references to either `/var/lib/pgsql/.pgsql_profile` or `/var/lib/edb/.enterprisedb_profile` depending on the installation.

We usually help our customer create `.pgsql_profile` / `.enterprisedb_profile` files since it is handy and useful for users to work.

We follow `pg_en

[2021-07-15 11:31] vibhorkumar123 commented on #191
Hi @CC-Hsu You can use variable `pg_postgres_conf_params` to set the parameters in postgresql.auto.conf.
In your playbook, you can use the variable like given below:
[code]

For more information, please refer to the link given below:
https://github.com/EnterpriseDB/edb-ansible/tree/master/roles/manage_dbserver

[2021-07-15 11:47] vibhorkumar123 commented on #192
IIRC, this used to be with one-click installers. I don't think we ship with RPMs or Debian packages.

[2021-07-15 13:00] CC-Hsu commented on #192
Hi, vibhorkumar123,

You're right.
As far as I know, the environment variable script `pgplus_env.sh` was shipped with one-click installer,
and in RPM packages, `.bash_profile` is provided with `.pgsql_profile` / `.enterprisedb_profile` reference instead.
In CentOS-based PGSQL13 RPM installation,
[code]
In CentOS-based EPAS13 RPM installation.
[code]

I guess many users might forget this goodie.

S

[2021-07-15 13:02] CC-Hsu commented on #191
Hi, vibhorkumar123,

Thanks a lot for your reply and example 😄, I'll try your suggestion later.

If I specify a non-default location (say `edb_audit_directory = '../edb_audit/'` ), will the example help creating related directory?
Or I need some other setting for creating the directory `../edb_audit/`?

Best Regards.

[2021-07-17 11:43] vibhorkumar123 commented on #191
Hi @CC-Hsu
No, edb-ansible will not create the directory. However, you can write a playbook to create the directory before executing the playbook using edb-ansible.

Best regards,
Vibhor

[2021-07-17 11:49] vibhorkumar123 commented on #192
We could add this. However, I am trying to understand the benefit of this. When you do the installation using RPM, RPM creates the symbolic links of the commonly used binaries in `/usr/bin` and for start-stop recommended practice, use `systemctl service,` which is aware of PGDATA.

[2021-07-18 12:58] CC-Hsu commented on #192
Hi, vibhorkumar123,

Usually we add this environment variable file for customers since DBAs need:
1. Advanced EPAS/PGSQL commands in `/usr/edb/asXX/bin/` or `/usr/pgsql/XX/bin/`
2. Access DB config files and logs quickly, especially when `PGDATA` is not in the default location
3. Customized `PGPORT` & `PGDATABASE` and they don't to type connection option every time

Besides of these shell environm

[2021-07-18 14:56] CC-Hsu commented on #191
Hi, Vibhor,

Thanks for your suggestion.

We will try to write additional playbook for audit log path.

Besides, since advanced audit logging in EPAS get some new features,
maybe your team can consider to add an independent task for setting up EPAS audit logging in the future.
https://www.slideshare.net/EnterpriseDB/auditing-and-monitoring-postgresqlepas

Best Regards.

[2021-07-19 14:20] vibhorkumar123 commented on #192
Hi @jt-edb What do you think?

[2021-07-19 14:26] vibhorkumar123 commented on #191
I am still trying to think about what is missing in the edb-ansible, stopping users from leveraging the module to enable the EDB Audit. I went through the shared presentation. You can implement the required setting of the EDB Audit using the edb-ansible.
I can see we don't have an option for creating a directory if the user wants to use a different directory. We can add this in our manage_dbserver

[2021-07-19 17:40] DHorneDBA opened #197 "Set up Ansible to pull from local rpm repo?"
Because of security reasons the server we plan on running our Ansible scripts from is not allowed to go to the internet to the yum repo for EDB. Currently we manually stage the repo locally and run our builds from there. Is there a way to point the setup_repo role to a local file based repo?

[2021-07-20 12:40] jt-edb commented on #197
At the moment, there is no way to configure the `setup_repo` role for local repo access. Could you please share how do you manually clone the EDB repo, I'll see if we can update the role in that sense.

[2021-07-20 12:51] jt-edb commented on #192
Providing shell profile and `psql` configuration files is an interesting feature.

[2021-07-20 14:00] jt-edb commented on #192
@CC-Hsu could please take a look at this PR https://github.com/EnterpriseDB/edb-ansible/pull/198

Please find below a playbook example using it:
[code]

[2021-07-21 07:58] CC-Hsu commented on #197
Hi, jt-edb,

We also have similar situation in our customers' environments.
Usually we use the following steps to bring EDB/PGDG YUM repository for offline use.
1) Download packaged tarball from https://repos.enterprisedb.com/
or utilize `reposync` to download repository content (usually for PGDG repo) and package the whole directory as a tarball
2) Bring the tarball to target offline environment,

[2021-07-21 13:34] Rafles89 opened #199 "FATAL: password authentication failed for user "efm""
FATAL: password authentication failed for user "efm" with standby node. Status of standby node is 'Idle'.

  pre_tasks:
    - name: Initialize the user defined variables
      set_fact:
        pg_version: 13
        pg_type: "PG"
        pg_ssl: false
        disable_logging: false
        pg_data: "/opt/pg_data"
        pg_wal: "/opt/pg_data/pg_wal"
        pg_efm_user_password: "efm"

[2021-07-22 00:48] DHorneDBA commented on #197
Hi, jt-edb,

We following almost exactly what CC-Hsu mentions in his response. We download the tarball from yum.enterprisedb.com and the untar on a local file server. The repo config on the server is then configured to point to that untar directory...

[2021-07-22 07:05] jt-edb commented on #199
Hi,

Just tried a new deployment with a user defined EFM password and I'm not reproducing this issue.

Could you please share the `pg_hba.conf` file content of the 3 nodes?

Thank you,

[2021-07-22 08:13] Rafles89 commented on #199
Hi,
no problem but I think there is some problem earlier with role 'setup_replication' (or with my configuration of playbook) because user efm is not created on standby node postgres.
There in pg_data directory is not created signal file and both instances looks as primary.

pg_hba.conf (without comments)

local   replication     all     peer
local   all     all     peer
host    replication     re

[2021-07-22 08:26] jt-edb commented on #199
Indeed, looks like your standby node does not replicating data. This is probably caused by the `init_dbserver` role that has been applied on the standby node.

Could you try with the following playbook:
[code]

[2021-07-22 08:48] Rafles89 commented on #199
HI,
now replication slot of standby is active and efm cluster-status is right.
What was different? Every time I rebuild machines from Vagrantfiles that state of machines is everytime the same.
Different are properties in my playbook (additional vars only):

        pg_ssl: false
        pg_data: "/opt/pg_data"
        pg_wal: "/opt/pg_data/pg_wal"
        efm_pgpool2_integration: true
        pgpo

[2021-07-22 08:58] jt-edb commented on #199
Do you have the `when` clauses for each `role` in your playbook?

[2021-07-22 09:26] jt-edb commented on #197
Thank you @CC-Hsu and @DHorneDBA. We will see how to add this feature.

[2021-07-23 09:06] Rafles89 commented on #199
Yes, that's it.
Thanks :)

[2021-07-23 09:23] #199 closed

[2021-07-28 11:13] CC-Hsu commented on #192
Hi, jt-edb,

Thanks for your improvement 😊.

I tried it and it works as expected, adding these files to the right place.

But I try to substitute some information with some variables further, I find some other minor issues.

I specify EPAS 13 on CentOS 8 Stream (to mimic RHEL 8.x), with variable substitution.

Below is my playbook YAML.
[code]

But output files shows incorrect result, replacing `a

[2021-07-28 13:32] CC-Hsu opened #202 "Failed to start deployed EPAS 13 with `systemctl` due to `/var/run/edb` directory permission changed"
Hi, Team,

I test `edb-ansible` to deploy EPAS 13 on CentOS 8-Stream (to mimic RHEL 8.x) with the following inventory YAML and playbook YAML files.
`inventory.yml`
[code]
`playbook.yml`
[code]

The primary/standby DBs are created and streaming replication works successfully.

But after I stop and restart my test environments, I find that I can not start with `systemctl start edb-as-13.service` com

[2021-07-29 09:42] jt-edb commented on #192
Hi,

In this case (variable substitutions), the variables `psqlrc_content` and `shell_profile_content` must be defined and passed at `role` level, not in `pre_tasks` block:
[code]

It's fixed by the last commit pushed on this PR (https://github.com/EnterpriseDB/edb-ansible/pull/198/commits/8d4242cb9524287d8af7ca94f4c6334f257ec087) and my comment above.

It can be fixed by adding this to `shell_pro

[2021-07-30 13:08] jt-edb commented on #197
Hi @CC-Hsu & @DHorneDBA,

Could you give a try to this PR: https://github.com/EnterpriseDB/edb-ansible/pull/205

[2021-07-30 13:13] #197 closed

[2021-07-30 15:38] jt-edb commented on #202
Hi @CC-Hsu,

Thank you for this report! It seems the issue comes from a wrong unix socket path. PR #206 fixes it.

[2021-07-31 08:23] #202 closed

[2021-08-18 16:16] #192 closed

[2021-08-19 08:46] pgstef opened #216 "Debian init_dbserver seems broken in 3.5.0"
Hi,

Just tried the new release (3.5.0) and it seems to be an issue with Debian support in `init_dbserver`:

[code]

It is pretty easy to check:
[code]

My guess is that [this](https://github.com/EnterpriseDB/edb-ansible/commit/9c21ca2a2749f01c0a78d6c039d03e6ed0352228) commit isn't working the same way for `postgresql-*-setup` (on RedHat's) and `pg_createcluster` (on Debian's).

I'm not sure what

[2021-08-19 12:01] vibhorkumar123 commented on #216
Thank you for reporting this problem. We will look into this. Our Debian support is limited to few roles in the collections. Maybe this got missed due to the support we added multiple instances for RedHat flavor.

[2021-08-19 13:40] vibhorkumar123 commented on #216
Hi @pgstef, following is the patch:
https://github.com/EnterpriseDB/edb-ansible/pull/217
 Above should fix the issue.

[2021-08-19 14:41] pgstef commented on #216
Hey @vibhorkumar123, thanks for the fix. Indeed, it seems to fix the mentionned error.

To be complete, I've also found some fix to multi-instance support in `setup_replication` and `manage_dbserver` for Debian.
Do you want a dedicated PR for that or could you add it to this one ?

* `roles/setup_replication/tasks/rm_replication.yml`: [L25] deb_cluster_name -> pg_instance_name
* `roles/manage_dbse

[2021-08-19 14:47] vibhorkumar123 commented on #216
Thank you for the confirmation @pgstef!
It will be awesome if you can submit a PR for the fixes!

Thank you!

[2021-08-19 15:22] pgstef commented on #216
@vibhorkumar123 , I'll make a PR for setup_replication and manage_dbserver fix.
install_dbserver multi-instance support hasn't been done yet so I'll perhaps keep it for another PR ;-)

[2021-08-19 15:48] vibhorkumar123 commented on #216
Thank you!

[2021-08-19 16:00] #216 closed

[2021-08-30 13:05] vibhorkumar123 commented on #123
@jt-edb I think we already added this enhancement in the edb-ansible

[2021-09-03 14:12] vibhorkumar123 commented on #123
We have added this capability in edb-ansible

[2021-09-03 14:12] #123 closed

[2021-09-13 09:57] klando opened #228 "Add get-wal option to barman config templates"
barman does not accept to recover with option "--no-get-wal" if this config option is not set.
And `get-wal` is not useful in some scenarios so it's convenient to just pass the `--no-get-wal` by default in such case.

See attached patches:
[add-get-wal.tar.gz](https://github.com/EnterpriseDB/edb-ansible/files/7153312/add-get-wal.tar.gz)

[2021-09-14 19:35] vibhorkumar123 commented on #228
Hi @klando Can you please create a PR and share the changes?

-Vibhor

[2021-09-16 20:00] vibhorkumar123 commented on #56
We already have this as part of playbook examples

[2021-09-16 20:00] #56 closed

[2021-09-16 20:01] vibhorkumar123 commented on #228
We have added the patch in our new release 3.6.0

[2021-09-16 20:01] #228 closed

[2021-09-17 07:09] klando commented on #228
Thank you for the commit!

[2021-09-17 11:12] klando opened #231 "Add allow_barman and allow_postgres var for ssh"
During barman setup, add relevant ssh keys and update known host based on the direction.
It is useless as is, but is required later when one want to be able to recover a backup to a server which is not backup by barman: the keys and hosts are known, thus the `barman recover` command can be used directly.

It's still WIP but I'm working on a role for a stagging server, it requires the ssh direction

[2021-09-17 11:15] klando opened #232 "Allow barman on debian and install packages"
As advocated by the subject, nothing complex here.

[0001-Allow-barman-on-debian-and-install-packages.tar.gz](https://github.com/EnterpriseDB/edb-ansible/files/7185137/0001-Allow-barman-on-debian-and-install-packages.tar.gz)

[2021-09-17 11:17] klando opened #233 "Allow to execute autotunning on Debian"
Doing so by installing tuned on debian...

Note that I have a WIP patch to improve autotunning role that I will submit later.

git formatted patch is here:
[0001-Allow-to-execute-autotunning-on-Debian.tar.gz](https://github.com/EnterpriseDB/edb-ansible/files/7185150/0001-Allow-to-execute-autotunning-on-Debian.tar.gz)

[2021-09-17 11:19] klando opened #234 "Make SELinux tests pass on Debian"
Just execute the ansible block for SELinux if we are not on Debian. Trivial, but maybe collection authors will want to install and configure SELinux on debian instead ?

Purpose is to allow an install on Debian, to start with.

See patch here:
[0001-Make-SELinux-tests-pass-on-Debian.tar.gz](https://github.com/EnterpriseDB/edb-ansible/files/7185158/0001-Make-SELinux-tests-pass-on-Debian.tar.gz)

[2021-09-18 11:55] klando commented on #65
Hi @vibhorkumar123,
is this support for repmgr still in the roadmap ?
Tks,
Cédric

[2021-09-20 11:34] vibhorkumar123 commented on #65
Hi @klando, It is in our roadmap. However, we haven't made any progress yet in this direction. So if you think you can make some progress, your contribution will be greatly appreciated.

Thank you,
Vibhor

[2021-09-20 15:04] klando commented on #65
Yes, I already have some tasks here and there for that. I will assemble them.
I just need to figure how setup_replication, setup_pgpool2, setup_barman(server), setup_pgbouncer works already. To evaluate how to organize setup_repmgr ('cause if offers to setup from barman, or just work on existing replication, manage pgbouncer and so on).
If you already had some designs in mind please share: for exe

[2021-09-21 20:15] vibhorkumar123 commented on #65
Hi @klando, you would like to look at the setup_efm (EDB Failover Manager) and accordingly create a role for repmgr.
setup_efm would be able to give an idea how we should develop role for setup_repmgr.

[2021-09-24 13:43] jt-edb commented on #231
Hi Cédric,

Thank you for this patch. I would prefer to wait for a fully working patch/feature before merging it.

[2021-09-24 14:19] klando commented on #231
Hi Julien,

sure, make sense.

[2021-09-24 14:29] #232 closed

[2021-09-24 15:18] #233 closed

[2021-09-24 15:46] #234 closed

[2021-10-20 12:28] rocket-spec opened #256 "EFM witness how to ?"
Is it possible to run an efm witness for example on a barman server, and if so how can one accomplish such task with this Ansible collection?

Thanks in advance

[2021-10-22 14:57] rocket-spec opened #258 "EFM and VIP"
Is it possible to declare a VIP using the setup_efm role ?

[code]

[2021-11-08 13:14] vibhorkumar123 commented on #258
Yes. You can declare these parameters in `efm_parameters`
https://github.com/EnterpriseDB/edb-ansible/blob/54534e831ad0cceb419fdd870501ff4446500535/roles/setup_efm/defaults/main.yml#L60

[2021-11-23 15:58] htcosta opened #260 "efm and streaming replication using replication slots PG12"
**Problem:**
After deploying an PG12 cluster, promote the standby replica to become a primary node using efm.
`efm promote <cluster> -switchover`

Standby databases is not in sync with the primary database, is this the expected behaviour ?
This does not happen when deploying a PG13 cluster.

**output**
[code]

**Files**

[code]

[code]

[2021-11-23 20:42] htcosta commented on #260
For some reason on the PG12 deployment the efm parameter `update.physical.slots.period` after the deployment is "0" , that is not the case in the PG13 deployment which respects the default value of "5".

[2021-11-23 20:48] htcosta commented on #260
**efm_configure.yml**

[code]

Is there a reason for this ?

[2021-12-09 11:37] MichaelDBA opened #262 "Cannot install community postgres"
I run a playbook that uses this EDB collection but it says "skipping".

[code]

[2021-12-12 12:52] vibhorkumar123 commented on #262
Can you please share your inventory.yml and initialize_pg.yml?

[2021-12-12 12:54] vibhorkumar123 commented on #258
No further response from the user. Closing it

[2021-12-12 12:54] #258 closed

[2021-12-12 22:44] MichaelDBA commented on #262
**initialize_pg_yml contents:**
[code]

**inventory file contents:**
[code]

[2021-12-13 15:37] MichaelDBA commented on #262
I tried reconstructing the hosts file to make it work according to the pattern described above, but I cannot get it to work for me.  Can you try to reconstruct my simple hosts file so I can try it?

[2021-12-14 15:29] MichaelDBA commented on #262
I can't seem to get it to work based off your example above.  Can you suggest based on my existing host file?

[2021-12-14 15:32] vibhorkumar123 commented on #262
Hi @MichaelDBA, below is an example based on your inventory.yml file.
[code]

[2021-12-15 08:45] jt-edb commented on #260
Hi @htcosta

The reason is that the core Postgres feature used here is available only from PostgreSQL 13 and EPAS 12. PostgreSQL 12 does not support it.

[2021-12-15 11:11] MichaelDBA commented on #262
Can you provide an example using my example hosts file?  I cannot seem to get it right based on your example.

[2021-12-19 06:39] CC-Hsu opened #265 "Is it possible to make `edb-ansible` to support DB upgrade operation?"
Hi, Team,

As we perform more and more DB upgrade operations on primary DBs for our customers,
I feel that DB upgrade task might be possible to be performed with ansible.

Performing `pg_upgrade` on primary DBs is relatively easy, but standby DB `rsync` is more cumbersome.

If this task can be handled by edb-ansible playbook, it can greatly benefit all PGSQL/EPAS users.

Below is outline steps bas

[2021-12-20 20:34] vibhorkumar123 commented on #262
@MichaelDBA Can you please confirm if you are able to install PG?

[2021-12-20 20:34] #260 closed

[2021-12-20 21:08] MichaelDBA commented on #262
Give me one more day for testing, thanks.

[2021-12-21 13:12] MichaelDBA commented on #262
Looks like I got further with the EDB style hosts file, but it showed up another error now:
[code]
My targets are Ubuntu 20.04 LTS.

[2021-12-21 14:21] vibhorkumar123 commented on #265
Hi @CC-Hsu, It's in our roadmap. However, if you would like to contribute, we would really appreciate your contribution.

[2021-12-26 12:46] MichaelDBA commented on #262
Finally got it down to this:
[code]
Trying to run these statements manually on the target yields the same result:
[code]

[2021-12-28 13:48] jt-edb opened #267 "Changes in pgpool2 packaging"
The last pgpool2 release (4.3.0) is packaged using a new nomenclature: Postgres major version is no more part of pgpool2 package name.

**pgpool2 4.1** packages:
[code]

**pgpool2 4.3**:
[code]

[2021-12-28 14:05] vibhorkumar123 commented on #262
Yes. You need to have an EDB user name and password. You can get access to the EDB Repository without a subscription.

[2021-12-28 14:06] vibhorkumar123 commented on #231
Hi @klando Let us know if you any plan to move forward on this.

[2021-12-28 15:03] klando commented on #231
hi @vibhorkumar123 no plan yet for the mentioned new features, the patch is still valid and can be merged if it makes sense.

[2021-12-28 15:16] MichaelDBA commented on #262
Ok, then so what is the problem?  I am using a valid EDB user/password combo.

[2021-12-29 16:19] CC-Hsu opened #268 "Adding an additional `pg_type: "PGDG"` in `setup_repo` role"
Hi, Team,

Currently running the `setup_repo` role of `edb-ansible` checks `repo_username` and `repo_password` in order to get complete EDB solution packages even when specifying  `pg_type: "PG"`.

But sometimes users hope to use GPDG YUM repo only without logging in [EDB YUM Repo](https://repos.enterprisedb.com/).

So maybe adding an additional `pg_type: "PGDG"` in `setup_repo` role to bypass EDB

[2022-01-05 03:36] CC-Hsu opened #269 "Adding a new task for setting up pgBouncer SSL connection in `pgbouncer_setup`"
Hi ,Team,

Sometimes users may utilize pgBouncer for connection pooling, and SSL-based communication might be required.

I find some other articles discussing SSL setup for pgBouncer.
https://www.percona.com/blog/2021/06/28/enabling-ssl-tls-sessions-in-pgbouncer/
https://blog.crunchydata.com/blog/improving-pgbouncer-security-with-tls/ssl

Besides, I find that tasks in `init_dbserver` and `setup_pg

[2022-01-06 13:32] jt-edb commented on #269
Hi,

Yes, we are going to add SSL configuration to `setup_pgbouncer`.

[2022-01-06 13:34] jt-edb commented on #268
Hi,

It makes sense and we are going to remove this requirement when using PGDG repository only. But, we have to update the way how SSL certificates are generated for Postgres because this is currently based on an extension that is available on EDB repo only.

[2022-01-07 07:03] CC-Hsu commented on #268
Hi, jt-edb,

Thanks a lot for considering my suggestion; this may solve installation obstacles if someone want to use `edb-ansible` for PGDG packages.

Besides, regarding to SSL certificate generation you mentioned, do you mean `sslutils` package?
https://download.postgresql.org/pub/repos/yum/14/redhat/rhel-7-x86_64/sslutils_14-1.3-4.rhel7.x86_64.rpm
https://download.postgresql.org/pub/repos/yum/1

[2022-01-07 07:05] CC-Hsu commented on #269
Hi, jt-edb,

Thanks a lot for your team making `edb-ansible` better and better.

Best regards.

[2022-02-11 13:34] stroobl opened #286 "Issues with fixed collection dependencies"
Hello,

There are some fixed dependencies on certain versions of community collections and ansible.posix in this collection. People installing the collection with recent Ansible versions will actually pull in older versions of the depended collection and that can cause issues. For example Ansible 4.10.0 comes with community.general 3.8.3, ansible.posix 1.3.0, community.crypto 1.9.8 and community.p

[2022-02-11 14:04] MichaelDBA commented on #286
Can you simplify what you said above?  Set out numbered steps to this correctly.  Thanks in advance.

[2022-02-11 15:04] stroobl commented on #286
The dependencies in galaxy.yml are limited to old versions and should be reviewed...

[2022-02-17 13:27] vibhorkumar123 commented on #45
We added this test case has been added in EDB-Ansible

[2022-02-17 13:27] #45 closed

[2022-02-17 13:28] vibhorkumar123 commented on #267
This has been fixed.

[2022-02-17 13:28] #267 closed

[2022-02-17 13:32] vibhorkumar123 commented on #66
It has been fixed.

[2022-02-17 13:32] #66 closed

[2022-02-21 14:59] jt-edb commented on #268
Hi,

Yes, since the `sslutils` package is available from the PGDG repo, making this change is almost transparent.

The following commit https://github.com/EnterpriseDB/edb-ansible/commit/5b58221742503309ca217a0b18e126aa7f694389 introduces a new variable: `enable_edb_repo`. When set to `false` (default value is `true`), EDB repository access configuration is disabled.

[2022-02-21 15:30] jt-edb commented on #262
Hi @MichaelDBA

Just tried the manual commands listed above, it worked. I'm suspecting something wrong with your credentials.

BTW, we have just committed a new feature that will be available in the next release: EDB credentials are not required anymore when deploying software coming from the community repository. More information here: https://github.com/EnterpriseDB/edb-ansible#access-to-edbs-pa

[2022-02-22 12:49] vibhorkumar123 commented on #286
This has been fixed by @jt-edb. Closed PR is attached to the issue.

[2022-02-22 12:49] #286 closed

[2022-02-22 13:14] #191 closed

[2022-02-22 14:28] vibhorkumar123 commented on #262
Closing this.

[2022-02-22 14:28] #262 closed

[2022-02-23 13:09] stroobl commented on #286
Do you only support one specific ansible version to run this code? Because it doesn't make sense to put the dependency versions for ansible bundled collections hard coded to a single version if you don't.

[2022-02-23 13:38] vibhorkumar123 commented on #286
The main reason is that we had seen issues with the collections in the past due to changes made by the collection owner.  Therefore we decided to put a dependency to ensure people don't face challenges. If we don't be specific, we will solve issues with one version and break for other versions.
However, we are open to ideas, and if you have tested the collection with one version and want to submit

[2022-03-05 15:46] CC-Hsu opened #301 "Adding core dump setup to `install_dbserver` or `autotuning` roles"
Hi, Team,

Sometimes it may be necessary to enable core dump feature for PGSQL/EPAS.

As far as I know, there are [steps available to enable core dump in the EPAS installation guide](https://www.enterprisedb.com/docs/epas/latest/epas_inst_linux/04_enabling_core_dump/), which involves `sysctl`, `ulimit` and SystemD unit file settings.

It may be great if `edb-ansible` can include this setup and all

[2022-03-24 16:26] baran81 opened #306 "allow skip of linux_update_etc_hosts.yml"
Hi
near al role run this block if variable "use_hostname"

linux_update_etc_hosts.yml modify the /etc/hosts of the machine and the hostname system configuration.

This can impact other tools running on the host, that maybe need a long hostname when you use short, or need both fqdn and short hostname in the /etc/hosts

please add an option to skip this step (maybe a skip_etc_hosts variable or so)

[2022-03-30 16:37] vibhorkumar123 commented on #306
You could add include names in playbook.yml.   Something like given below:
[code]

[2022-03-30 16:39] vibhorkumar123 commented on #306
@jt-edb Can you please let me know if I am missing something here.

[2022-04-11 08:25] stroobl commented on #306
@vibhorkumar123 the above solution only works if you use this type of dedicated inventory file for the EDB deployment. In many cases, the user will have an inventory with the rest of their infrastructure also defined where the EDB cluster is defined in it's own group. Right now there is no way to avoid adding all hosts in the inventory to the hosts file, which is really bad. If you insist to have

[2022-04-11 08:51] stroobl commented on #306
And to add more after I ran a tests: the hosts file is broken after you run the playbook, since the variables you use in the all_nodes.py lookup plugin (private_ip and public_ip) have not been definied for non EDB hosts and a line is added with a space and the hostname.

A possible solution would be to use the special variable ansible_play_hosts and only run the hosts file update for those hosts.

[2022-04-11 09:47] stroobl opened #314 "Defining empty pg_version in OS specific vars breaks expected Ansible behaviour"
I noticed that in the setup_efm role you define and empty variable pg_version:
[code]
This is not a good idea, since variables defined at that level are  ([very hard to override](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable)). It would be much better to leave the variable undefined at that point. Right now you can onl

[2022-04-11 13:34] jt-edb commented on #306
@baran81 you could define `use_hostname` to `false` (in the playbook file) if you don't want to update `/etc/hosts` and change the machine hostname.

At this point, it does not work when defining this variable via the CLI: `-e 'use_hostname=false'`. PR #315 fixes this.

[2022-04-11 21:33] vibhorkumar123 commented on #314
Hopefully, the following PR will fix your issue:
https://github.com/EnterpriseDB/edb-ansible/pull/320/commits/54fd96af39e6ca82b6f000845061edaad46a1d22

[2022-04-19 10:19] dirkcaumueller opened #322 "Question: Define local WAL Archive?"
Dear EDB team!

I can't find a configuration parameter to define and create a local WAL archive directory. Is this true (because usually Barman's WAL archiving feature is the way to go)?

Looks like only roles `init_dbserver` and `setup_replication` require some modifications. I'm willing to contribute/implement this feature.

Best regards,
Dirk

[2022-04-20 20:40] vibhorkumar123 commented on #322
You can use `pg_postgres_conf_params` variable for setting `archive_command` after creating a cluster.
https://github.com/EnterpriseDB/edb-ansible/tree/master/roles/manage_dbserver

[2022-04-21 07:25] dirkcaumueller commented on #322
Thank you for your reply.

I'm aware of the `pg_postgres_conf_params` option for setting the `archive_command`. The only way without having to write a separate playbook, as far as I understand, is to create the corresponding directory in the filesystem by adding `mkdir -p /path/to/wal_archive && ...` as part of the `archive_command`.

So, what I really mean with my question is an Ansible parameter

[2022-04-21 13:11] vibhorkumar123 commented on #306
Closing the issue. Please feel free to open it if mentioned PR doesn't work.

[2022-04-21 16:06] baran81 commented on #306
use_hostname = false disable other tasks on efm for example. note sure it is safe.

[2022-04-21 18:18] vibhorkumar123 commented on #306
I tried `use_hostname=false` it worked for me:
[code]
Would you be able to share your playbook and command? I have used the following:
[code]

[2022-04-22 21:49] baran81 commented on #306
using use_hostname=false seamse to for you to have EFM with IP instead of hostname.
we would like to use hostname in the configurations (replication/efm) but not touch /etc/hosts

[2022-04-25 13:04] dirkcaumueller commented on #322
@vibhorkumar123 thank you for pointing out the parameter name.
@jt-edb thank you for the review and accepting the pull request.

[2022-04-25 13:04] #322 closed

[2022-04-25 13:39] vibhorkumar123 commented on #306
Below is a PR that helps in skipping update of `/etc/hosts` and allow users to use `hostname`
@baran81 Can you please have a look at this PR and test it.
https://github.com/EnterpriseDB/edb-ansible/pull/326

@jt-edb Adding you reviewer.

[2022-04-25 13:42] vibhorkumar123 commented on #314
I am closing this. Please feel free to re-open it.

[2022-04-25 13:46] #306 closed

[2022-05-11 19:55] vibhorkumar123 commented on #301
As per PR, we have already added this. Closing this issue

[2022-05-11 19:55] #301 closed

[2022-08-25 08:37] #53 closed

[2022-08-25 15:33] vibhorkumar123 commented on #65
Closing this issue. Now we have support for repmgr in edb-ansible

[2022-08-25 15:33] #65 closed

[2022-08-25 16:10] vibhorkumar123 commented on #2
Added support for Debian and Ubuntu

[2022-08-25 16:10] #2 closed

[2022-08-25 16:11] vibhorkumar123 commented on #3
Added support for Ubuntu and Debian

[2022-08-25 16:11] #3 closed

[2022-09-15 20:24] mikewallace1979 opened #397 "Update setup_barman README.md"
The README.md for the setup_barman role contains [the following statement](https://github.com/EnterpriseDB/edb-ansible/blob/e1feff7cdb0d7dbd9473529950caebc88dc7bc16/roles/setup_barman/README.md?plain=1#L75-L76):

Although there were some limitations around backing up standby nodes with older versions of PostgreSQL there are no such limitations with currently supported PostgreSQL versions (PG10 and

[2022-09-20 15:49] #397 closed

[2022-09-28 13:43] jt-edb opened #402 "pgbackrest: support more than 3 standby nodes"
Current pgbackrest support implementation allows up to 3 standby nodes. We want it to support an undefined number of standby nodes.

[2022-10-03 09:38] vibhorkumar123 commented on #402
PR already merged in the main branch
https://github.com/EnterpriseDB/edb-ansible/pull/379

[2022-10-03 09:38] vibhorkumar123 commented on #35
https://github.com/EnterpriseDB/edb-ansible/pull/379

Already added by @hannahms. Closing this issue

[2022-10-03 09:38] #35 closed

[2022-10-03 09:39] vibhorkumar123 commented on #402
Based on discussion with @jt-edb re-opening this.

[2022-10-12 15:50] marangiop opened #412 "No package matching 'postgresql-14-sslutils' is available"
Helllo! I am trying to use the primary-only playbook on localhost and i get the following error:

TASK [edb_devops.edb_postgres.install_dbserver : Install sslutils] *****************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "No package matching 'postgr

[2022-10-12 19:31] hannahms commented on #412
Hi,

I am trying to replicate this issue and seem to be missing some information. Can you please provide the contents of the `inventory.yml` and `playbook.yml` file you are using in the command as well as the operating system/version you are deploying onto/with?

Thanks!

[2022-10-13 16:33] marangiop commented on #412
Hi @hannahms, thank you for the help!

So If I try to run the following command

`ansible-playbook playbook.yml --connection=local -i inventory.yml --extra-vars="pg_version=14 pg_type=PG pg_ssl=false"`

I have the same error as before.

If I run

`ansible-playbook playbook.yml --connection=local -i inventory.yml --extra-vars="pg_version=14 pg_type=PG pg_ssl=false"`

I get this error

[code]

I als

[2022-10-13 21:51] hannahms commented on #412
Hi @marangiop,
I apologize, it seems to be that EDB Repo 2.0 is the only one offered to new accounts, so what you are viewing is correct. You can access a 60-day trial token by clicking the Request Trial Access button. Place this token in the command line with the variable `repo_token`.

`ansible-playbook playbook.yml --connection=local -i inventory.yml --extra-vars="pg_version=14 pg_type=PG repo_

[2022-10-14 09:03] marangiop commented on #412
I managed to get my token from EDB.

`ansible-playbook playbook.yml --connection=local -i inventory.yml --extra-vars="pg_version=14 pg_type=PG repo_token=<some_token>"`

Throws this error

TASK [edb_devops.edb_postgres.manage_dbserver : Manage postgres extensions] ********************************************************
failed: [localhost] (item={'name': 'sslutils', 'database': 'postgres', 'state'

[2022-10-14 09:04] marangiop commented on #412
I am on Ubuntu 20.04 Focal (64 Bit) by the way

[2022-11-28 22:55] hannahms commented on #412
Hi there,

I apologize for the delay in response.

In regards to the first error, using `ansible-playbook playbook.yml --connection=local -i inventory.yml --extra-vars="pg_version=14 pg_type=PG repo_token=<some_token>"`, I am not able to replicate this error. Please check both the `/vars/PG_Debian.yml` for roles `init_dbserver` and `manage_dbserver`, and `/vars/edb-ssl.yml` for the `init_dbserver`